.header {
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.header ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 180px;
  
}

.header ul li div a{
    color: white;
}

.linkLogo
{
   
    text-decoration: none;
    color: white;
}

.logo
{
     display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
    
}